# dependencies
node_modules/
.pnp
.pnp.*
.changeset/
# testing
coverage/

# next.js
.next/
out/

# turborepo
.turbo/

# production
build/
dist/

# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

# debug
*-debug.log*
*-error.log*

# env files
.env*
.env.local

# vercel
.vercel

# bun
bun.lockb
.bun-cache/
